.word {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem;

    &__letter {
        font-size: 3rem;
        text-transform: uppercase;
        width: 4rem;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 0.5rem solid var(--wood-color);
    }
}