.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 3vw;
    padding: 1rem;
}