.app {
    &__top {
        margin: 3vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        background-color: var(--background-color);
        border-radius: 3vw;
        padding: 1rem;
    }
}