.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    &__top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        background-color: var(--background-color);
        border-radius: 3vw;
        padding: 1rem;
    }
}