<div class="man">
    <div [ngClass]="{'man__head': wordService.wrongLetters.size > 0}"></div>
    <div [ngClass]="{'man__body': wordService.wrongLetters.size > 1}"></div>
    <div class="man__arms" [ngClass]="{
        'man__arms--left': wordService.wrongLetters.size > 2,
        'man__arms--right': wordService.wrongLetters.size > 3
    }"></div>
    <div class="man__legs man__legs--left man__legs--right" [ngClass]="{
        'man__legs--left': wordService.wrongLetters.size > 4,
        'man__legs--right': wordService.wrongLetters.size > 5,
    }"></div>
</div>